body {
    background-image: url(../assets/background.jpg);
    background-color: black;
    opacity: 1;
}

.header {
    display: flex;
    align-items: flex-end;
}

.box {
    background-color: white;
}

.links {
    background-color: white;
}

.footer {
    background-color: white;
}

/* input:valid {
    background: lightgreen;
}

input:invalid {
    background: red;
} */

.register-form {
    background-color: white;
}